# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# VS Code
.vscode/

# Dados
*.csv
*.xlsx
datasets/

from_scratch/mnist/cpp/build/
*.out